@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="privacy-page">
<div class="page-container">
  <h2>Privacy Policy</h2>
                
                    <p>
                        Like Mercy, the last thing we want is for our players to get hurt. We don't share any of your data with outside parties. Ha! Feel stronger?
                    </p>
                </div>
            </div>
</div>


